body {
    background-image: url('GettyImages-81872591.jpg');
    background-size: 100%;
}

.title {
    margin-top: 100px;
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: rgb(7, 255, 7);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
